<div id="asideAbout" class="card border-0">
    <div class="card-body">
        <h3 class="card-title mt-0">A cerca de</h3>
        <p class="card-text">
            Este es un sitio web que busca divulgar
            conocimiento y promover el uso de software libre.
            Su creador es reconocido como desarrollador que
            fabrica estas herramientas tanto para entidades
            públicas como privadas.
        </p>
        <a href="/portafolio/contacto/" class="card-link">Contacto</a>
    </div>
</div>
